@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?de9o4g') format('truetype'),
    url('fonts/icomoon.woff?de9o4g') format('woff'),
    url('fonts/icomoon.svg?de9o4g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE900:before {
  content: "\e900";
}
.icon-jurassic_data-cross:before {
  content: "\e68b";
}
.icon-tishishuoming:before {
  content: "\e64c";
}
.icon-daoxu:before {
  content: "\e611";
}
.icon-qiepian:before {
  content: "\e6ad";
}
.icon-pingjunzhi1:before {
  content: "\ec6c";
}
.icon-zhongzhi:before {
  content: "\e628";
}
.icon-shoushudao:before {
  content: "\e920";
}
.icon-shoushudao1:before {
  content: "\e9c8";
}
.icon-zuixiaozhi:before {
  content: "\ec69";
}
.icon-zuidazhi:before {
  content: "\ec68";
}
.icon-uniE615:before {
  content: "\e615";
}
.icon-uniE616:before {
  content: "\e616";
}
.icon-uniE68C:before {
  content: "\e68c";
}
.icon-uniE68D:before {
  content: "\e68d";
}
.icon-uniE713:before {
  content: "\e713";
}
.icon-uniE724:before {
  content: "\e724";
}
.icon-uniE769:before {
  content: "\e769";
}
.icon-uniE76A:before {
  content: "\e76a";
}
.icon-chakan:before {
  content: "\e670";
}
.icon-chakan1:before {
  content: "\e671";
}
.icon-2:before {
  content: "\e602";
}
.icon-qiehuanfan:before {
  content: "\e603";
}
.icon-huifu:before {
  content: "\e644";
}
.icon-dayin:before {
  content: "\e606";
}
.icon-yingpianb:before {
  content: "\e607";
}
.icon-r:before {
  content: "\e60e";
}
.icon-curve:before {
  content: "\e6f2";
}
.icon-saomiao:before {
  content: "\e610";
}
.icon-shanchu2:before {
  content: "\e653";
}
.icon-fangshe:before {
  content: "\e617";
}
.icon-jiaoduceliang:before {
  content: "\e618";
}
.icon-juxingroiceliang:before {
  content: "\e619";
}
.icon-sijiaoxinxikaiguan:before {
  content: "\e6b6";
}
.icon-chuangkuanchuangwei:before {
  content: "\e61b";
}
.icon-xiangyouxuanzhuan:before {
  content: "\e61c";
}
.icon-xiangzuoxuanzhuan:before {
  content: "\e61d";
}
.icon-yuanxingroiceliang:before {
  content: "\e61e";
}
.icon-changduceliang:before {
  content: "\e61f";
}
.icon-chexiao:before {
  content: "\e622";
}
.icon-shuaxin:before {
  content: "\e623";
}
.icon-jiazaizhong:before {
  content: "\e67f";
}
.icon-fabu:before {
  content: "\e629";
}
.icon-kongjianbujumianban:before {
  content: "\e62a";
}
.icon-daocutter3:before {
  content: "\e6ae";
}
.icon-one-line-arrow:before {
  content: "\e62f";
}
.icon-move:before {
  content: "\e630";
}
.icon-release:before {
  content: "\e631";
}
.icon-icon3:before {
  content: "\e66d";
}
.icon-dian:before {
  content: "\e637";
}
.icon-shuipingfanzhuan:before {
  content: "\e639";
}
.icon-chuizhifanzhuan:before {
  content: "\e63a";
}
.icon-youxuanzhuan90:before {
  content: "\e63f";
}
.icon-L:before {
  content: "\e9d8";
}
